/trunk/processing_text/df_attribute_bullets_processed.csv
*/./idea/*
input/*.csv
*.xml
*.iml
Icon
*.name
*/Icon
*.pyc
.gitignore (1)

*.p

env/Anaconda3-2.4.1-Linux-x86_64.sh

trunk/all_data_corrected.csv

trunk/kaggle_test.csv

trunk/kaggle_test2_rfr.csv

trunk/rfr_pipline.csv

trunk/df_all_tmpdump.csv

trunk/processing_text/df_attribute_bullets_processed.csv

trunk/processing_text/df_attribute_bullets_processed.csv

trunk/tmp_dump.csv

trunk/tmpdump.csv

trunk/processing_text/df_attribute_bullets_processed.csv

trunk/processing_text/df_attribute_bullets_processed.csv
